	<ion-view view-title=" {{ aplikasi_gratis.title }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"  scroll="true"   id="page-aplikasi_gratis_singles" class="page-aplikasi_gratis_singles">
					<ion-refresher pulling-text="Tarik untuk refresh"  on-refresh="doRefresh()"></ion-refresher>
			<div class="hero slide-up colorful-bg" style="background-image: url('data/images/background/bg0.jpg');">
				<div class="padding-horizontal padding-bottom content">
					<img alt="" class="avatar" ng-src="{{aplikasi_gratis.thumbnail}}" />
					<h3><a class="light" ng-bind-html="aplikasi_gratis.title | strHTML">{{ aplikasi_gratis.title }}</a></h3>
					<a class="button button-colorful ink-dark" data-ink-opacity=".8" ng-click="openURL(aplikasi_gratis.link)">Download</a>
					<button run-social-sharing message="{{ aplikasi_gratis.sharelink }}" class="button button-colorful ink-dark">sharelink</button>
              </div>
			</div>
			<div class="tabs tabs-colorful tabs-icon-top static">
				<a ng-click="$ionicGoBack()" class="tab-item">
					<i class="icon ion-ios-albums-outline"></i> {{ 'List ' | translate }}
				</a>
				<a class="tab-item tab-item-active active">
					<i class="icon ion-ios-list-outline"></i> {{ 'Detail' | translate }}
				</a>
				</div>
			<div class="list ">

					<!-- heading-1 -->
					<div class="item item-divider"  ng-bind-html="aplikasi_gratis.title | to_trusted">{{aplikasi_gratis.title}}</div>
					<!-- ./heading-1 -->

					<!-- images -->
					<!-- ./images -->

					<!-- link -->
					<!-- ./link -->

					<!-- to_trusted -->
					<div class="item item-text-wrap noborder to_trusted {{ fontsize }}" ng-bind-html="aplikasi_gratis.text | strHTML"></div>
					<!-- ./to_trusted -->

					<!-- slidebox -->
					<div class="item item-text-wrap noborder to_trusted">
					<div class="slideshow_container to_trusted" ng-if="aplikasi_gratis.slide" >
							<ion-slides options="{slidesPerView:1}" slider="data.slider" class="slideshow">
								<ion-slide-page class="slideshow-item" ng-repeat="slide_item in aplikasi_gratis.slide | strExplode:'|' track by $index" >
									<div class="item-text-wrap" ng-bind-html="slide_item | to_trusted"></div>
								</ion-slide-page>
							</ion-slides>
					</div>
					</div>
					<!-- ./slidebox -->

					<!-- share_link -->
					<div class="item">
						<button run-social-sharing message="{{ aplikasi_gratis.sharelink }}" class="button button-small ion-android-share-alt button-outline button-positive icon-left">sharelink</button>
					</div>
					<!-- ./share_link -->
			</div>
			<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
