	<ion-view view-title=" About US" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class=" page-about_us">
		<div class="padding scroll">
	<div class="text-center">
      <img class="avatar relative" ng-src="data/images/header/mylogo.png" />
      <p>Apps Promo v1.0.2 Beta</p>
  	</div>
    <div class="padding about_us-box">
        <h2>Satriyadi Soft</h2>
        <div>
            Halooo<br>
          	Berbagi itu indah broo, jadi tujuan kita akan berbagi nih<br>
          	
          	<br>
          	Kita akan berbagi informasi aplikasi-aplikasi premium yang sedang digratiskan di playstore<br>
          	Ada banyak yang digratiskan di playstore mulai dari game, uttilitas hingga icon pack<br>
          	dan tentunya ini legal loh ya, karena memang pihak developer sendiri yang membuatnya gratis
        </div>
    </div>
    <br/>

    <div class="disable-user-behavior about_us-box">
     
      <a class="item item-icon-left" ng-click="openURL('http://www.facebook.com/wisnu.satriyadi')" >
        <i class="positive icon ion-social-facebook"></i>
        Like Us on Facebook
      </a>
      
       <a class="item item-icon-left" ng-click="openURL('mailto://admin@freeappsnow.me')" >
        <i class="icon ion-android-mail royal"></i>
        Mail me
        <p>
            Email: admin@freeappsnow.me
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
