	<ion-view view-title=" Apps Promo" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-dashboard" class=" page-dashboard">
		
			<!-- code refresh -->
			<ion-refresher pulling-text="{{ 'Tarik untuk refresh' | translate }}"  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<!-- code search -->
			<ion-list class="list" >
				<div class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" ng-model="filter_aplikasi_gratiss" placeholder="{{ 'Cari' | translate }}" aria-label="filter aplikasi_gratiss" />
				</div>
			</ion-list>
			<!-- ./code search -->


			<!-- code listing -->
			<div class="list animate-none">
				<div class="item-thumbnail-3 card" ng-repeat="item in data_aplikasi_gratiss | filter:filter_aplikasi_gratiss | limitTo:50:0 as results">
				<a class="item item-colorful item-thumbnail-left "  href="#/apps_promo/aplikasi_gratis_singles/{{item.id}}">
					<img alt="" class="full-image" ng-src="{{item.thumbnail}}" />
					<h3 class=""  ng-bind-html="item.title | to_trusted"></h3>
					<div class="to_trusted" ng-bind-html="item.text | limitTo:50 | to_trusted"></div>
				<i class="icon ion-android-more-horizontal pull-right"></i>
				</a>
				</div>
			</div>
			<!-- ./code listing -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>{{ 'Tidak ada hasil ditemukan..!' | translate }}</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
